body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 1% 5% 2%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  color: #fff;
  font: 1em sans-serif;
}

.res {
  background: #3d94f6;
  background-image: linear-gradient(to bottom, #3d94f6, #1e62d0);
  border-radius: 20px;
  color: #ffffff;
  font-family: Garamond;
  font-size: 20px;
  font-weight: 100;
  padding: 7px 15px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
}

.res:hover {
  background: #1e62d0;
  background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
}

@media screen and (max-width: 768px) {
  #level-title {
    font-size: 3.5rem;
    margin: 4% 5%;
  }
  .btn {
    margin: 20px;
    width: 150px;
    height: 150px;
    border-width: 13px;
  }
  footer {
    font-size: 2.4rem;
    position: relative;
    bottom: 4%;
    left: 50%;
    transform: translateX(calc(-50%));
  }
}
@media screen and (max-width: 556px) {
  #level-title {
    font-size: 3.1rem;
    margin: 7% 5%;
  }
  .container {
    width: 70%;
  }
  .btn {
    margin: 15px;
    width: 100px;
    height: 100px;
    border-width: 7px;
  }
  .pressed {
    box-shadow: 0 0 10px white;
  }
  footer {
    bottom: 7%;
  }
}
@media screen and (min-width: 200px) and (max-width: 430px) {
  .btn {
    margin: 15px;
    width: 75px;
    height: 75px;
  }
  .container {
    width: 100%;
  }
}
